* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}

:root {

    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --purple: hsl(228, 45%, 44%);

}

.inactive {
    display: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--almostWhite);
}

.mobileNav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 10px 0px;
}

.desktopNav {
    display:none
}

.logoContainer {
    display: inline-block;
    width: 75px;
    height: 100%;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    margin-right: 40px;
}

.arrowDown {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(./images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.arrowUp {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(./images/icon-arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.menuIconContainer {
    display: inline-block;
    width: 25px;
    height: 90%;
    background-image: url(./images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.mobileImage {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktopImage {
    display: none;
}

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: var(--almostBlack);
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: center;
    line-height: 25px;
    font-size: 500;
    padding: 0px 10px;
    color: var(--mediumGray);
    margin-bottom: 15px;
}

.learnMore {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--almostBlack);
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Epilogue', sans-serif;

}

.learnMore:hover {
    background-color: var(--almostWhite);
    color: var(--almostBlack);
    cursor: pointer;
}

.auspicesContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.auspicesContainer span {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.auspice1 {
    background-image: url(./images/client-databiz.svg);
    background-size: 80%;
}

.auspice2 {
    background-image: url(./images/client-audiophile.svg);
    background-size: 50%;
}

.auspice3 {
    background-image: url(./images/client-meet.svg);
    background-size: 70%;
}

.auspice4 {
    background-image: url(./images/client-maker.svg);
    background-size: 70%;
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    margin-bottom: 4px;
}
.attribution a { 
    color: var(--purple);
 }

 .mobileMenu {
    position: absolute;
    width: 65%;
    height: 100vh;
    background-color: var(--almostWhite);
    right: 0px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    color: var(--mediumGray);
    padding: 20px;
    align-items: flex-start;
 }

 .closeMenu {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-image: url(./images/icon-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    margin-bottom: 25px;
    background-size: 90%;
    cursor: pointer;
 }

 .mobileMenu > div {
    margin: 10px 0px;
 }

 .mobileMenu div:hover {
    color:var(--almostBlack);
    cursor: pointer;
 }

 #mobileLogin {
    align-self: center;
    margin-top: 25px;
 }

 .mobileRegister {
    align-self: stretch;
    font-family: 'Epilogue', sans-serif;
    border: 1.5px solid var(--mediumGray);
    border-radius: 10px;
    padding: 10px 0px;
    background-color: var(--almostWhite);
    color: var(--mediumGray);

 }

 .mobileRegister:hover {
    color:var(--almostBlack);
    border-color: var(--almostBlack);
    cursor: pointer;
 }

 .featuresMobileContainer div {
    margin: 15px;
    margin-right: 0px;
    margin-left: 20px;
 } 

 .companyMobileContainer div {
    margin: 15px;
    margin-right: 0px;
    margin-left: 20px;
 } 
 
.featuresMobileContainer span {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 17px;
    margin-right:10px ;
}


#todoListIcon {
    background-image: url(./images/icon-todo.svg);
}

#calendarIcon {
    background-image: url(./images/icon-calendar.svg);
}

#remindersIcon {
    background-image: url(./images/icon-reminders.svg);
}

#planningIcon {
    background-image: url(./images/icon-planning.svg);
}

.filterContainer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--almostBlack);
    opacity: 75%;
}