* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Epilogue', sans-serif;
}

:root {

    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --purple: hsl(228, 45%, 44%);

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--almostWhite);

}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 10px 0px;
}

.logoContainer {
    display: inline-block;
    width: 75px;
    height: 100%;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.menuIconContainer {
    display: inline-block;
    width: 25px;
    height: 90%;
    background-image: url(./images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.mobileImage {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.block1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    color: var(--almostBlack);
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size: 1.6rem;
    text-align: center;
    line-height: 25px;
    font-size: 500;
    padding: 0px 10px;
    color: var(--mediumGray);
    margin-bottom: 15px;
}

button {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 15px;

}

.auspicesContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.auspicesContainer span {
    display: inline-block;
    width: 25%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.auspice1 {
    background-image: url(./images/client-databiz.svg);
    background-size: 80%;
}

.auspice2 {
    background-image: url(./images/client-audiophile.svg);
    background-size: 50%;
}

.auspice3 {
    background-image: url(./images/client-meet.svg);
    background-size: 70%;
}

.auspice4 {
    background-image: url(./images/client-maker.svg);
    background-size: 70%;
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    margin-bottom: 4px;
}
.attribution a { 
    color: var(--purple);
 }